<%= form_for(@download) do |f| %>
  <% if @download.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@download.errors.count, "error") %> prohibited this download from being saved:</h2>

      <ul>
      <% @download.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :download_url %><br />
    <%= f.text_field :download_url %>
  </div>
  <div class="field">
    <%= f.label :youtube_url %><br />
    <%= f.text_field :youtube_url %>
  </div>
  <div class="field">
    <%= f.label :thumbnail_url %><br />
    <%= f.text_field :thumbnail_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
